.btn-glass {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #ffffffcc;
    padding: 0.7rem 3rem; 
    border-radius: 30px;
    font-size: 0.9rem; 
    font-weight: 500;
    transition: all 0.3s ease;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform, backdrop-filter;
    text-decoration: none;
    display: inline-block;
    margin-top: 1.2rem;
}

.btn-glass:hover {
    background: rgba(255, 255, 255, 0.02);
    transform: translateY(-2px);
    color: #a4d7f4;
    text-shadow: 0px 2px 20px #ACE5EE;
}